div.post
	img.picture(data-src="holder.js/317x214?theme=industrial" alt="")
	h3.title-pos Titulo Demo
	div.info
		span 01 Noviembre 2015
	div.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.
	div.more 
		a(href="#") Saber Más...
	hr